.vs/
.idea/
cmake-build-debug/
cmake-build-debug
CMakeCache.txt
CMakeFiles/
CMakeLists.txt2
CTestTestfile.cmake
Makefile
cmake_install.cmake
input.txt
testbench/CMakeFiles/
testbench/CMakeLists.txt2
testbench/CTestTestfile.cmake
testbench/Makefile
testbench/_unit_tests
testbench/cmake_install.cmake
testbench/demo1.cpp
MNA_circuit
output.txt
demo1
